<!DOCTYPE html>
<html>
  <head>
    <title><%= systemName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= systemName %></h1>
    <p>Welcome to <%= queueNo %></p>
  </body>
</html>
